<div class="contents">
  <div class="container">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", model: f.object %>

      <div class="field">
        <%= f.label :nickname, class: "labelName" %>
        <%= f.text_field :nickname, autofocus: true, placeholder: "max10文字まで" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "labelName" %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, class: "labelName" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "6文字以上" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "labelName" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "signupBtn" %>
      </div>
    <% end %>
  </div>
</div>