<div class="contents">
  <% if user_signed_in? %>
    <% amountTotal = 0 %>
    <% @orders.each do |order| %>
      <% if current_user.id == order.user_id %>
        <p><%= order.date %></p>
        <p><%= order.amount %>円</p>
        <p><%= order.category.name %></p>
        <p><%= order.memo %></p>
        <div class="more">
          <ul class="more_list">
            <li>
              <%= link_to '削除', order_path(order.id), method: :delete %>
            </li>
            <li>
              <%= link_to '編集', edit_order_path(order.id), method: :get %>
            </li>
          </ul>
        </div>
        <% amountTotal += order.amount  %>
      <% else %>
      <% end %>
    <% end %>
    <div class="sumPrice"><%= "合計#{amountTotal}円" %></div>
  <% end %>
</div>