<!DOCTYPE html>
<html>
  <head>
    <title>CardmeisaiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="headerBar">
        <h1 class="appNav"><a href="/" class="appName">Card_meisai</a></h1>
        <% if user_signed_in? %>
          <div class="userNav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "postLeft" %>
            <%= link_to "記録する", new_order_path, class: "postRight" %>
          </div>
        <% else %>
          <div class="userNav">
            <%= link_to "ログイン", new_user_session_path, class: "postLeft" %>
            <%= link_to "新規登録", new_user_registration_path, class: "postRight" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
